<div class="home">
  <h1 class="home__title">Hola!</h1>
  <h2 class="home__subtitle">Mi nombre es Angel Manuel Miranda Asturias</h2>

  <p class="home__content">Soy un desarrollador de software con más de 2 años de experiencia práctica en la creación de
    soluciones innovadoras en
    diversas industrias. Comprometido a ofrecer resultados excepcionales a los clientes, prospero en entornos acelerados
    donde la calidad y la puntualidad son primordiales. Mi experiencia incluye la entrega exitosa de múltiples sistemas
    y
    productos de software para clientes en toda América Latina, lo que demuestra mi capacidad para abordar desafíos
    complejos con creatividad y precisión. Deseoso de aprovechar mi experiencia en tecnologías Frontend como ReactJS,
    AngularJS y tecnologías Backend como NodeJS, Golang y NestJS para contribuir de manera efectiva a su equipo y
    aprovechar nuevas oportunidades en desarrollo de software o ciencia de datos.</p>
</div>